**/target/
!.mvn/wrapper/maven-wrapper.jar

### Config properties used for local development if needed
/app/config/application-develop*.yml

### Docker Volumes ###
**/.docker-volumes/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### MacOS ##
*.DS_Store
